.footer-menu
  padding: 110px 0 70px 0

.footer-menu__cat-name
  height: 68px
  font-size: 18px
  font-weight: 700
  line-height: 40px
  text-transform: uppercase


.footer-menu__item
  color: #898989
  font-size: 16px
  line-height: 16px
  font-weight: 400
  height: 42px

.brand-copyright
  position: relative

.brand-copyright_background
  height: 79px
  background-color: #e6e6e6

.brand-copyright__text
  line-height: 79px
  color: #7a7a7a
  font-size: 16px
  font-weight: 400

.social
  position: absolute
  right: 0
  line-height: 79px
  .social__item
    width: 32px
    height: 32px
    margin: 0 4px
    color: #b2b2b2
    font-size: 16px
    text-align: center
    line-height: 32px
    background-color: #ffffff
  .social__item:hover
    color: #f7f7f8
    background-color: #f16d7f

.social__item_inactive
  opacity: 0.5