* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    max-width: 1600px;
}

.header {
    background-color: red;
}

.top-menu {
    height: 100px;
}

.main-menu {
    height: 50px;
    text-align: center;
}

.main-menu__item {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-family: Lato;
    color: #222222;
    font-size: 14px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: left;
}

.slider {
    background-color: orange;
    height: 615px;
}

.categories {
    background-color: yellow;
    height: 1021px;
}

.products {
    background-color: green;
    height: 1094px;
}

.feature {
    background-color: aqua;
    height: 625px;
}

.subscribe {
    background-color: blue;
    height: 438px;
}

.footer {
    background-color: darkviolet;
    height: 538px;
}