* {
    margin: 0 auto;
    padding: 0;
}

html {
    max-width: 1600px;
}

.header {
    background-color: bisque;
}

.slider {
    background-color: orange;
}

.slider__img {
    max-width: 1600px;
}

.categories {
    background-color: yellow;
}

.products {
    background-color: green;
}

.feature {
    background-color: aqua;
}

.subscribe {
    background-color: blue;
}

.footer {
    background-color: darkviolet;
}