* {
    margin: 0 auto;
    padding: 0;
    border: none;

}

.html {
    max-width: 1600px;
}

body {
    font-family: Lato, Arial, sans-serif;
    color: #222222;
}

.container {
    position: relative;
    max-width: 1600px;
    padding: 0 230px;
}

.container-fluid {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/*
    Глобальный модификатор подсветки текста брэндовым цветом
*/
.highlight {
    color: #f16d7f;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.header-nav {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    border: 1px solid #ececec;
    background-color: #ffffff;
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);*/
}

.header-nav__logo,
.header-nav__brand,
.header-nav__browse-btn,
.header-nav__search-form,
.header-nav__request-field,
.header-nav__submit-btn {
    float: left;
}

.header-nav__logo {
    width: 59px;
    height: 51px;
    margin-top: 25px;
    margin-left: 226px;
    background: url("../img/logo.png") no-repeat center;
}

.header-nav__brand {
    height: 51px;
    margin-top: 26px;
    margin-left: 13px;
    font-size: 26px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 55px; /* Approximation due to font substitution */
    letter-spacing: 1px;
    text-transform: uppercase;
    /*
        cheat from: https://stackoverflow.com/questions/15441742/change-last-letter-color
        cheat example: http://jsfiddle.net/gFcA9/
        суть: чтобы сработал псевдоселектор :first-letter для последней буквы слова
            пишем слово "справа на лево" и отображаем тоже наоборот.
    */
    /* Begin of cheat */
    unicode-bidi: bidi-override;
    direction: rtl;
}

.header-nav__brand:first-letter {
    color: #f16d7f;
    font-weight: 900;
}

/* End of cheat */

.header-nav__browse-btn {
    box-sizing: border-box;
    width: 87px;
    height: 38px;
    margin-top: 32px;
    margin-left: 37px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px solid #e6e6e6;
    background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    font-size: 14px; /* Approximation due to font substitution */
    font-weight: 300;
    line-height: 35px; /* Approximation due to font substitution */
    text-align: center;
    word-spacing: 5px;
}

.header-nav__search-form {
    box-sizing: border-box;
    margin-top: 32px;
    height: 38px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #e6e6e6;

}

.header-nav__request-field {
    box-sizing: border-box;
    width: 281px;
    height: 100%;
}

.header-nav__submit-btn {
    box-sizing: border-box;
    color: #a4a4a4;
    width: 36px;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid #e6e6e6;
}

.header_nav__basket-btn {
    float: left;
    position: absolute;
    top: 40px;
    right: 384px;
    width: 40px;
    height: 29px;
    background: url("../img/basket-icon.png") no-repeat center;
}

.header_nav__my-account-btn {
    position: absolute;
    top: 31px;
    right: 231px;
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 35px; /* Approximation due to font substitution */
    text-align: center;
    word-spacing: 5px;
}

.header-nav_menu {
    width: 100%;
    height: 51px;
    border-top: none;

}

.header-menu {
    width: 726px;
    height: 100%;
    margin: 0 auto;
}

.header-menu__item {
    float: left;
    height: inherit;
    padding: 0 23.1px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px; /* Approximation due to font substitution */
    font-weight: 700;
    line-height: 50px; /* Approximation due to font substitution */
    text-align: left;
}

.slider-container,
.slider__img {
    display: block;
    width: 100%;
}

.slider-container__text {
    position: absolute;
    top: 225px;
    left: 231px;
    width: 509px; /* @todo удалить, требуется для отладки*/
    height: 92px; /* @todo удалить, требуется для отладки*/
    padding-left: 10px;
    border-left: 13px solid #f16d7f;
    font-size: 40px; /* Approximation due to font substitution */
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 3px;
}

.slider-container__brand {
    margin-top: -15px;
    font-size: 60px;
    word-spacing: 5px;
}

.slider-container__slogan {
    margin-top: -5px;
}

.hot-dial {
    width: 1200px;
    position: relative;
    padding-top: 98px;
}

.hot-dial__col {
    float: left;
    width: 577px;
}

.hot-dial__item {
    position: relative;
    box-sizing: border-box;
    height: 565px;
}

.hot-dial__item_low {
    height: 285px;
}

.hot-dial__img {
    display: block;
    width: 560px;
 }

.hot-dial__header {
    position: absolute;
    top: 26px;
    left: 8px;
    height: 82px;
    background-color: #ffffff;

}

.hot-dial__text {
    padding-top: 12px;
    padding-left: 17px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
}

.hot-dial__text_category {
    padding-top: 5px;
    color: #f16d7f;
    font-size: 30px;
}

.featured {
    width: 100%;
    padding-top: 70px;
}

.featured__header {
    font-size: 30px;
    font-weight: 700;
    text-align: center;

}

.featured__header_description {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.featured {
    position: relative;
    width: 1200px;
    padding-top: 63px;
}

.featured__col {
    box-sizing: border-box;
    float: left;
    align-content: center;
}

.featured__item {
    width: 261px;
    height: 279px;
}